.album-screen {
  /* background-color: #333;   */
  margin: 10px auto;
  padding: 30px 20px;
  width: 90%;
  max-width: 460px;
}

.album-container {
  margin: 0 auto;
  width: 90%;
}

.color-text {
  color: whitesmoke;
}

.album-container a {
  color: rgb(49, 197, 143);
  text-decoration: none;
}

.album-container a:hover {
  border-bottom: 1px solid whitesmoke;
}

.album-container h1, .album-container h2 {
  color: whitesmoke;
}

.album-container .music-card {
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {   
  .album-container {
    margin: 0 auto;
    /* width: 50%; */
  }  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .album-screen, .album-container {
    max-width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .album-screen {
    max-width: 80%;
  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .album-screen {
    max-width: 1000px;
  }
}
