.favorites-screen {
  background-color: #333;  
  margin: 50px auto;
  padding: 40px 40px;
}

.favorite-container {
  margin: 0 auto;
}

.favorite-container h1 {
  color: rgb(49, 197, 143);
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {   
  .album-container {
    margin: 0 auto;
  }  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .favorites-screen {
    max-width: 80%;
  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .favorites-screen {
    max-width: 70%;
  }
}
