.main__login {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.main__login img {
  margin-bottom: 30px;
  width: 100%;
}

.login__input {
  background-color: #333;
  max-width: 70%;
  min-width: 300px;
}

.login__input form {
  margin: 0 auto;
  width: 80%;  
}
.username-label {
  font-size: 1.5rem;
  color: #fafafa;
}
.username-input {
  display: block;  
  outline: none;
  width: 100%;  
}

.login-button {
  width: 100%;  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 .login__input {
  max-width: 60%;
  /* min-width: 60%; */
 }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }
