.music-card {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 15px 1px;
  padding: 15px;
  overflow: hidden;  
}

.music-title-artist {  
  white-space: nowrap;
}

.music-artwork {
  display: none;
}
.music-card audio {
  background-color: whitesmoke;
}

.music__favorite {
  border: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .music-artwork {
    display: block;
  }
}
